*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    border:0;
}
.navbar{
    display:flex;
    justify-content:space-between;
    text-decoration: none;
    width: 100%;
    height: 4rem;
    background-color: #0c0a32;
    align-items: center;
}
.lg{
    color:white;
    text-decoration: none;
    font-size:2rem;
    font-weight: bold;
}
.login{
    color:white;
    text-decoration:none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color:green;
    border-radius:10px;
}
.register{
    color:white;
    text-decoration:none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color:red;
    border-radius:10px;
}
.animation{
    animation-name: example;
    animation-duration: 2s;
    transition: all 2s linear;
    animation-iteration-count: infinite;
    text-align: center;
    margin-top:30vh;
}
@keyframes example {
    0%   {color:red;font-size: 1rem;}
    25%  {color:red;font-size: 1.25rem;}
    50%  {color:red;font-size: 1.5rem;}
    75%  {color:red;font-size: 1.75rem;}
    100% {color:red;font-size: 2rem;}
}
.login-btn{
    background-color: lime;
    width: 30%;
    height: 3rem;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    color:white;
    font-size:1.3rem;
    font-weight: bold;
    margin-top:3rem;
    margin-bottom: 0.5em;
}
.form{
    background-color: #ccc;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:3em;
    border-radius: 1em;
}
body{
    background-color: blue;
}
.form-el{
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    height: 3rem;
    margin-top:3rem;
    border-radius:10px;
}
.btn-logaut{
    background-color: red;
    color:white;
    text-decoration: none;
    padding:1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    margin-right: 2rem;
}
.btn{
    color:white;
    padding:1rem 1.3rem 1rem 1.3rem;
    font-size: 1.3rem;
    text-decoration: none;
}
.btn-red{
    background-color: red;
    border-radius: 10px;
    margin-top:30vh;
    display: inline-block;
    width: 30%;
    margin-left:35%;
    margin-right:35%;
    text-align: center;
}
.logaut{
    color:white;
    padding:1rem 1.3rem 1rem 1.3rem;
    background-color: red;
    border-radius:10px;
    text-decoration: none;
    margin-right: 2rem;
}
.javascript{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: yellow;
    display: inline-block;
    border-radius: 10px;
}
.react{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: aqua;
    display: inline-block;
    border-radius: 10px;
}
#a{
    width: 30%;
    margin-left:35%;
    margin-right: 35%;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top:1rem;
}
.vue{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: lime;
    display: inline-block;
    border-radius: 10px;
}
.node{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: green;
    display: inline-block;
    border-radius: 10px;
}
.nest{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: red;
    display: inline-block;
    border-radius: 10px;
}
.typescript{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: aqua;
    display: inline-block;
    border-radius: 10px;
}
.next{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}
.disclamer{
    color:red;
    font-size: 1.3rem;
    text-align: center;
}
.sammi{
    color:aqua;
}
.fundation{
    color:black;
    text-decoration: none;
    padding:1rem 1.4rem 1rem 1.4rem;
    background-color: purple;
    display: inline-block;
    border-radius: 10px;
}